# Server configuration
HOST=0.0.0.0
PORT=3000

# MongoDB connection string
MONGO_URL=mongodb://localhost:27017/agora

# Security
# Use a long random string in production
# To generate a new JWT secret: npm run cli -- generate:jwt-secret
JWT_SECRET=change_me
JWT_EXPIRES_IN='24h'
# Example:
# JWT_SECRET=3f9d9f4b-8587-4d3d-80bb-7baf3a17b8a1b34e9d91c2b3d71727c63f
